---
import Layout from '../layouts/Layout.astro';
import { numerosTabla } from '../data/datosRifa.ts'

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Rifa a beneficio de melonie</h1>

			<div class="grid grid-cols-10 gap-1 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
					{
						numerosTabla.map((numero) => {
							return (
							<span 
								class={`h-10 col-span-1 border border-black flex justify-center items-center ${numero.comprado ? "bg-red-300" : "bg-emerald-300"}`}>
								{numero.numero}
							</span>
							)
						})
					}
			</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
