---
import Layout from "../layouts/Layout.astro";
import TablaNumeros from "@components/TablaNumeros.astro";
import PremiosMelonie from '@components/PremiosMelonie.astro'
import InfoAccordion from "@components/InfoAccordion.astro";
import { premiosMelonie } from "src/data/datosRifa";

let contadorPremios: number = 0;

premiosMelonie.forEach((premio) => {
  contadorPremios += premio.cantidad
});
---

<Layout title="Rifa melonie">
  <main class="m-auto p-4">
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold text-center">
      Rifa a beneficio de melonie
    </h1>
    <div class="flex justify-center items-center border rounded-lg border-yellow-300 p-1 px-3 w-44 mx-auto my-5 text-xl">
      <span class="h-4 w-4 bg-yellow-300 inline-block"></span>
      <span class="mx-2">{contadorPremios}</span>
      <p>Premios</p>
    </div>
    <div class="flex justify-center my-5">
      <img
        class="h-w-96 w-96 rounded-full border border-white p-2 shadow-md shadow-white"
        src="/melonie.jpg"
        alt="mi perrita hermosa con su cono de la verguenza"
      />
    </div>
    <div class="my-5">
      <p class="text-center text-2xl">Valor del número $2.000</p>
      <p class="text-center text-2xl">01-10-2024 - por definir sorteo</p>
    </div>
    <InfoAccordion/>
    <TablaNumeros/>
    <PremiosMelonie/>
  </main>
  <footer class="h-32 mb-4">
    <div class="bg-white-transparent rounded-lg w-4/5 p-5 mx-auto">
      <div class="flex flex-col justify-center items-center w-auto">
        <p class="text-center text-2xl font-semibold">Te amo melonie, y gracias a todos por comprar numeritos</p>
        <img class="ms-2 pt-1" src="like.png" alt="icono-corazon">
      </div>
      <p class="text-center w-auto m-auto">by RubikApps / Mirko Pasten</p>
    </div>
      
  </footer>
</Layout>

<style>
  main, footer {
    color: white;
  }

  .bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.3);
  }
</style>

<script>
  import { numerosTabla } from "../data/datosRifa";

  const numeros = document.querySelectorAll(".bloque-numero");

  numeros.forEach((numero, index) => {
    if (numerosTabla[index].ocupado) {
      console.log(numero)
      numero.addEventListener("mouseenter", () => {
        let textoCuadro = `${numerosTabla[index].comprador.nombre}<br>${numerosTabla[index].comprador.instagram}`;
        numero.innerHTML = textoCuadro;
      });

      numero.addEventListener("mouseout", () => {
        numero.innerHTML = numerosTabla[index].numero.toString();
      });
    }
  });
</script>
