---

---

<div class="w-4/5 mx-auto flex flex-col justify-center items-center pb-6">
    <div class="flex flex-col border p-3 rounded-xl">
        <p class="text-lg">Aqui puedes probar el sorteo aleatorio</p>
        <button
            id="pruebas"
            class="py-2 px-4 bg-red-500 border border-black rounded-xl"
            >PROBAR SORTEO</button
        >
    </div>
    <div
        id="contenedorListadoGanadores"
        class="w-full flex flex-col justify-between rounded-xl my-2 overflow-hidden"
    >
    </div>
</div>

<script>
    import { numerosTabla, premiosMelonie } from "src/data/datosRifa";
    import { type Numeros } from "src/data/datosRifa";

    const contenedorListadoGanadores = document.querySelector(
        "#contenedorListadoGanadores",
    ) as HTMLElement;

    const numerosComprados: Numeros[] = [];
    let cantidadPremios: number = 0;
    let arrayPremios: any[] = [];

    premiosMelonie.map((premio) => {
        cantidadPremios += premio.cantidad;

        if (premio.cantidad > 1) {
            for (let i = 0; i < premio.cantidad; i++) {
                arrayPremios.push(premio.premio);
            }
        } else {
            arrayPremios.push(premio.premio);
        }
    });

    numerosTabla.map((numero) =>
        numero.ocupado ? numerosComprados.push(numero) : null,
    );

    const generarGanadores = () => {
        const listadoGanadores: any = [];
        const copiaNumerosComprados: Numeros[] = [...numerosComprados];
        let numeroGanador: number = 0;

        limpiarHTML();

        for (let i = 0; i < cantidadPremios; i++) {
            // Genero un numero aleatorio entre 0 y la cantidad de numeros comprados (157 aprox)
            numeroGanador = Math.floor(
                Math.random() * copiaNumerosComprados.length,
            );

            // Buscamos el nombre de la persona que gano en esta vuelta, si se encuentra menos de d
            let auxArray = listadoGanadores.filter(
                (ganador: Numeros) =>
                    ganador.comprador.nombre ===
                    copiaNumerosComprados[numeroGanador].comprador.nombre,
            );

            // Si gano mas de 2 veces, se salta y se resta uno al contador del for
            if (auxArray.length < 2) {
                listadoGanadores.push(copiaNumerosComprados[numeroGanador]);
                copiaNumerosComprados.splice(numeroGanador, 1);
            } else {
                i--;
            }
        }

        generadorHTML(listadoGanadores);
    };

    const limpiarHTML = () => {
        while (contenedorListadoGanadores.firstChild) {
            contenedorListadoGanadores.removeChild(
                contenedorListadoGanadores.firstChild,
            );
        }
    };

    const generadorHTML = (listado: any) => {
        const contenedorTitulos = document.createElement("div");
        contenedorTitulos.setAttribute(
            "class",
            "flex justify-between items-center border-b bg-slate-500",
        );
        contenedorTitulos.innerHTML = `
            <span class="w-1/3 text-center text-2xl font-bold py-1"> Numero</span>
            <a class="w-1/3 text-center text-2xl font-bold border-x py-1"> Nombre</a>
            <span class="w-1/3 text-center text-2xl font-bold py-1"> Premio </span>`;

        contenedorListadoGanadores.append(contenedorTitulos);
        contenedorListadoGanadores.classList.add("border");

        listado.map((ganador: Numeros, index: number) => {
            // Genero la fila que insertare en el contenedor
            const contenedorFila = document.createElement("div");
            contenedorFila.setAttribute("class", "flex w-full border-b");

            // Genero los elementos que insertare en la fila
            const parrafoNumeroGanador = document.createElement("span");
            const linkNombreGanador = document.createElement("a");
            const parrafoPremioGanador = document.createElement("span");

            // Genero el numero y lo inserto
            parrafoNumeroGanador.setAttribute(
                "class",
                "flex items-center justify-center p-1 w-1/3",
            );
            parrafoNumeroGanador.innerHTML = `${ganador.numero}`;
            contenedorFila?.appendChild(parrafoNumeroGanador);

            // ------------------------------------------------------------------------
            linkNombreGanador.setAttribute(
                "class",
                "flex items-center justify-center border-x p-1 w-1/3 hover:scale-95",
            );
            linkNombreGanador.setAttribute(
                "href",
                `https://www.instagram.com/${ganador.comprador.instagram}/`,
            );
            linkNombreGanador.setAttribute("target", "__blank");

            linkNombreGanador.innerHTML = `${ganador.comprador.nombre}`;
            contenedorFila?.appendChild(linkNombreGanador);

            // ------------------------------------------------------------------------
            // Genero el parrafo e inserto el premio
            parrafoPremioGanador.setAttribute(
                "class",
                "flex items-center justify-center text-center p-1 w-1/3",
            );
            parrafoPremioGanador.innerHTML = `${arrayPremios[index]}`;
            contenedorFila?.appendChild(parrafoPremioGanador);

            contenedorListadoGanadores.appendChild(contenedorFila);
        });
    };

    const boton = document.querySelector("#pruebas") as HTMLElement;
    boton?.addEventListener("click", generarGanadores);
</script>
