---
---

<!-- Accordion Item 1 -->
<div class="lg:w-5/6 m-auto">
    <div class="rounded-xl">
        <button id="accordion-1" class="w-full flex flex-col items-center py-1 bg-white text-black font-bold rounded-t-xl">
          <span class="m-auto text-xl">Que le paso a la wawi?</span>
          <span id="icon-1" class="h-5 text-slate-800 transition-transform duration-300">
            <img src="/down-arrow.png" alt="">
          </span>
        </button>
        <div id="content-1" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
          <div class="lg:w-4/5 m-auto p-5">
            <p class="text-center font-light text-lg">
                Ella se agarró con un perro de afuera qué entró a la casa y defendiendo su territorio, salió perdiendo, 
                yo no estaba en ese momento y mi hermano, mi tía y mi prima la llevaron al veterinario, lo malo es que esto fue super tarde y como sabrán, 
                veterinarios de emergencia son demasiado caros, aparte de los medicamentos y los cambios de vendajes para su patita durante las primeras semanas.
            </p>
            <div class="flex justify-center my-4">
                <video width="200" controls muted>
                    <source src="https://res.cloudinary.com/dgt6b2q53/video/upload/f_auto:video,q_auto/abi6wgh2hotpk687mppg" type="video/mp4">
                </video>
            </div>
            <p class="text-center font-light text-lg">
                Tuvieron que cocerle en 4 partes, el cuello, sobre la escápula, la patita delantera y el muslo trasero,
                tubo complicaciones al abrirse unos puntos a las semanas, y volvieron a cocerle la escápula y optaron por cerrar la herida de la pata
                por segunda opción, con cambio de vendajes cada 3 días, ya que le falta un pedacito en su pata D:
            </p>
            <div class="flex flex-col sm:flex-row justify-evenly md:h-56 lg:h-64 my-4 gap-3 lg:gap-0 sm:overflow-hidden">
                <img class="h-60 w-40 md:w-auto md:h-72 lg:h-96 m-auto" src="wawita-2.jpg" alt="">
                <img class="h-60 w-40 md:w-auto md:h-72 lg:h-96 m-auto" src="wawita-3.jpg" alt="">
                <img class="h-60 w-40 md:w-auto md:h-72 lg:h-96 m-auto" src="wawita-4.jpg" alt="">
            </div>
            <p class="text-center font-light text-lg">
                Ahora después de ya casi 3 semanas de estar viéndola, haciéndole curaciones, con todos sus medicamentos y que ya esta mucho mejor, 
                recurro a ustedes para hacer una rifa para costear gastos del primer mes de deudas y un poco más, ya que me pedí un crédito por mi wawi,
                por no tener dinero en el momento :3
                <br>
                <br>
                Si le interesa saber cuanto gaste, o las boletas, se las puedo mostrar por interno
            </p>
          </div>
        </div>
      </div>
</div>

<div class="lg:w-5/6 m-auto">
    <div class="border-b border-slate-200 rounded-xl">
        <button id="accordion-2" class="w-full flex flex-col items-center py-1 bg-white text-black font-bold rounded-b-xl">
          <span class="m-auto text-xl">Datos para transferir!</span>
          <span id="icon-2" class="h-5 text-slate-800 transition-transform duration-300">
            <img src="/down-arrow.png" alt="">
          </span>
        </button>
        <div id="content-2" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
          <div class="lg:w-4/5 flex flex-col justify-center items-center m-auto p-5">
            <p class="text-center font-light text-lg">
                Porfavor avisar por mensaje a mi instagram para poder ver los numeros!
            </p>
            <a href="https://www.instagram.com/mikish17/" class="underline text-blue-400 hover:text-blue-600 text-xl">Link</a>
            <div class="flex flex-col justify-center my-3">
                <span><b>Nombre</b>: Mirko Pasten</span>
                <span><b>Rut</b>: 19.317.442-6</span>
                <span><b>Email</b>: mikish.ash@gmail.com</span>
                <span><b>Cuenta</b>: Cuenta Rut</span>
            </div>
          </div>
        </div>
      </div>
</div>
   
  <script>
    const botonInfo = document.getElementById(`accordion-1`)
    botonInfo?.addEventListener('click', () => {
        toggleAccordion(1)
    })

    const botonTransferir = document.getElementById(`accordion-2`)
    botonTransferir?.addEventListener('click', () => {
        toggleAccordion(2)
    })

    function toggleAccordion(index: number) {
      
      const content = document.getElementById(`content-${index}`) as HTMLElement;
      const icon = document.getElementById(`icon-${index}`) as HTMLElement;

      
        
      // SVG for Minus icon
      const upArrow = `
        <img src="/up-arrow.png" alt="">
      `;
   
      // SVG for Plus icon
      const downArrow = `
        <img src="/down-arrow.png" alt="">
      `;
   
      // Toggle the content's max-height for smooth opening and closing
      if (content.style.maxHeight && content.style.maxHeight !== '0px') {
        content.style.maxHeight = '0';
        icon.innerHTML = downArrow;
      } else {
        content.style.maxHeight = content.scrollHeight + 'px';
        icon.innerHTML = upArrow;
      }
    }
  </script>